/* Body Styles */
body {
    /* Background */
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1e1e2d;

    /* Font and Color */
    font-family: 'JetBrains Mono', monospace;
    color: #8D1821;

    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Container Styles */
.container {
    background-color: #FAEEB8;
    padding: 15px; /* Reduzi o padding para 15px */
    border-radius: 8px; /* Bordas um pouco mais suaves */
    box-shadow: 0 0 25px rgb(75, 72, 55); /* Sombra mais suave */
    width: 400px; /* Reduzido para 300px */
    max-width: 80%; /* Flexível para dispositivos menores */
    text-align: center;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}

/* Header Styles */
h1, h2 {
    margin-bottom: 15px; /* Reduzi a margem inferior */
    font-size: 1.5em; /* Tamanho ajustado do texto */
}

/* Label Styles */
label {
    display: block;
    margin-bottom: 8px; /* Reduzi a margem inferior */
    text-align: left;
    font-weight: bold;
    color: #080202; /* Um cinza claro para o texto */
}

/* Input Styles */
input {
    width: 100%;
    padding: 8px; /* Reduzi o padding */
    margin-bottom: 12px; /* Reduzi a margem inferior */
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #3a3a4f;
    color: #ffffff;
    box-sizing: border-box;
}

/* Button Styles */
button {
    font-family: 'JetBrains Mono', monospace;
    background-color: #41434d;
    color: #ffffff;
    padding: 10px; /* Ajustei o padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #00bb10;
    transform: translateY(-2px);
}

/* Datetime Styles */
#datetime {
    margin-top: 15px; /* Reduzi a margem superior */
    font-size: 12px;
    color: #000000;
}

/* Media query para ajustar layout em telas menores */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* Reduzindo padding para telas menores */
    }

    h1, h2 {
        font-size: 1.3em; /* Ajustando o tamanho do texto */
    }
}
